<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %> 
    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="visita">
                    <h3 class="addedit">EDITANDO PRODUCTO: <%= product.name%>
                    </h3>
                </section>
    
    
                <form action="/products/editproduct/<%= product.id %>?_method=PUT" method="POST"
                    enctype="multipart/form-data" class="add-edit" id="formulario-product">
    
                    <div class="form-control" id="grupo_name">
                        <label for="name" class="formulario_label">Nombre</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="name" id="name" value="<%= locals.oldData ? oldData.name : product.name%>">
                            <i class="formulario_validacion_estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario_input_error">El nombre debe tener minimo 5 caracteres y solo puede contener
                            letras y números</p>
                        <% if (locals.errors && errors.name) { %>
                            <div class="text-danger">
                                <%= errors.name.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="form-control">
                        <label for="">Categorias</label>
                        <div class="checkbox">
                            <% for (let j=0; j < categoria.length; j++){ %>
                                <label for="" class="check"><input type="checkbox" name="category"
                                    value="<%=categoria[j].id%>" class="check" <%= 
                                    (categoria[j].category == product.category) ? 'checked' : null %>>
                                   
                                    <%=categoria[j].category%></label>
                                <%}%>
                                    <% if (locals.errors && errors.category) { %>
                                        <div class="text-danger">
                                            <%= errors.category.msg %>
                                        </div>
                                        <% } %>
                                        <%= console.log(locals.oldData)%>
                                        
                        </div>
                        <div class="form-control" id="grupo_image">
                            <label for="">Selecciona las imagenes para tu producto</label>
                            <input type="file" name="image" accept=".png, .jpg, .jpeg" multiple value="<%= product.img%>">
                            <span class="imgs">Solo acepta .png, .jpg, .jpeg</span>
                            <% if (locals.errors && errors.image) { %>
                                <div class="text-danger">
                                    <%= errors.image.msg %>
                                </div>
                                <% } %>
                        </div>
                        <div class="form-control descripcion" id="grupo_description">
                            <label for="description" class="formulario_label">Descripcion del producto</label>
                            <div class="formulario_grupo_input">
                                <textarea class="formulario_input textarea" name="description"
                                    id="description"> <%=locals.oldData ? oldData.description : product.description%> </textarea>
                                <i class="formulario_validacion_estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario_input_error">La descripción debe tener minimo 20 caracteres</p>
                            <% if (locals.errors && errors.description) { %>
                                <div class="text-danger">
                                    <%= errors.description.msg %>
                                </div>
                                <% } %>
                        </div>
                        <div class="form-control" id="grupo_measurements">
                            <label for="measurements" class="formulario_label">Medidas:</label>
                            <div class="formulario_grupo_input">
                                <input type="text" class="formulario_input" name="measurements" value="<%=locals.oldData ? oldData.measurements  :  product.measure%>">
                                <i class="formulario_validacion_estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario_input_error">Las medidas no debe quedar Vacio</p>
                            <% if (locals.errors && errors.measurements) { %>
                                <div class="text-danger">
                                    <%= errors.measurements.msg %>
                                </div>
                                <% } %>
                        </div>
                        <div class="form-control">
                            <label for="">Colores</label>
                            <div class="checkbox">
                                <% for (let k=0; k < color.length; k++){ %>
                                    <label for="" class="check"><input type="checkbox" name="color" value="<%=color[k].id%>"
                                            class="check" <%=locals.oldData && (color[k].color===oldData.color) ? 'checked'
                                            : null %>><%=color[k].color%></label>
                                    <%}%>
                                        <% if (locals.errors && errors.color) { %>
                                            <div class="text-danger">
                                                <%= errors.color.msg %>
                                            </div>
                                            <% } %>
                            </div>
                            <div class="form-control">
                                <label for="">Material</label>
                                <select name="material" id="material">
                                    <% for (let i=0; i < material.length; i++){ %>
                                        <option value="<%=material[i].id%>" <%=locals.oldData &&
                                            (material[i].material===oldData.material) ? 'selected' : null %>>
                                            <%=material[i].material%>
                                        </option>
                                        <%}%>
                                            <% if (locals.errors && errors.material) { %>
                                                <div class="text-danger">
                                                    <%= errors.material.msg %>
                                                </div>
                                                <% } %>
                                </select>
                            </div>
                            <div class="form-control">
                                <label for="">Origen</label>
                                <select name="origin" id="origin">
                                    <% for (let i=0; i < country.length; i++){ %>
                                        <option value="<%=country[i].id%>" <%=locals.oldData &&
                                            (country[i].country===oldData.country) ? 'selected' : null %>>
                                            <%=country[i].country%>
                                        </option>
                                        <%}%>
                                </select>
                                <% if (locals.errors && errors.origin) { %>
                                    <div class="text-danger">
                                        <%= errors.origin.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="form-control" id="grupo_price">
                                <label for="price" class="formulario_label">Precio</label>
                                <div class="formulario_grupo_input">
                                    <input type="text" class="formulario_input" name="price" class="price" value="<%=locals.oldData ? oldData.price : product.price%>">
                                    <i class="formulario_validacion_estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario_input_error">El precio tiene que ser un número y no puede ser vacío</p>
                                <% if (locals.errors && errors.price) { %>
                                    <div class="text-danger">
                                        <%= errors.price.msg %>
                                    </div>
                                    <% } %>
                            </div>
    
    
                            <div class="buttons">
                                <button type="submit" class="enviar">GUARDAR CAMBIOS</button>
                                <button type="reset" class="borrar">BORRAR</button>
                            </div>
                        </div>
    
    
    
    
    
    
            </main>
    
            <script src="/js/CreateProductValidations.js"></script>
            <%- include('../partials/footer') %>
    </body>
</html>

