<header class="header">
    <div class="header-top-bar">
        <div class="logo-barra"><a href="/"><img class="logo" src="/img/logo-transparente.png" width="360" alt="logo de Bazar" ></a>
            <div  class="search-bar" >            
                <form action="/products/busqueda" method="GET" >   
                <input type="text" name="search" class="form-search" placeholder="Buscar productos"></input>
                     
                <button  type="submit"><i class="fas fa-search"></i></button>
                </form>
                
            </div>
        </div>
      
    <nav class="main-navbar">
        <% if (locals.isLogged && locals.userLogged.rol == "admin") { %>
        <ul class="left-navbar" >
            <li><a href="/products/all">Todo</a></li>          
            <li><a href="/products/decoracion">Decoracion</a></li>
            <li><a href="/products/usopersonal">Uso personal</a></li> 
            <li><a href="/products/viajes">Viajes</a></li>
            <li><a href="/products/muebles">Muebles</a></li>
            
            
        </ul>
        <ul class="right-navbar">
            <li><a href="/products/createproduct">Crear producto nuevo</a></li>
            <li><a href="/products/inventory">Todos los productos</a></li>
            <li class="username"><a href="/users/userprofile"><%= locals.userLogged.first_name %></a> <img src="/img/avatars/<%= locals.userLogged.avatar %>" width="40" style="border-radius: 100%;"class="img-avatar"> </li>
            <li><a href="/products/favoritos">Favoritos <i class="fas fa-heart"></i></a></li>
            <li><a href="/products/cart">Carrito <i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="/users/logout">Salir <i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
        <% } else if (locals.isLogged){ %>
            <ul class="left-navbar" >   
                <li><a href="/products/all">Todo</a></li>       
                <li><a href="/products/decoracion">Decoracion</a></li>
                <li><a href="/products/usopersonal">Uso personal</a></li> 
                <li><a href="/products/viajes">Viajes</a></li>
                <li><a href="/products/muebles">Muebles</a></li>
               
            </ul>
            <ul class="right-navbar">
                <li class="username"><a href="/users/userprofile"><%= locals.userLogged.first_name %></a> <img src="/img/avatars/<%= locals.userLogged.avatar %>" width="40" style="border-radius: 100%;"class="img-avatar"> </li>
                <li><a href="/products/favoritos">Favoritos <i class="fas fa-heart"></i></a></li>
                <li><a href="/products/cart">Carrito <i class="fas fa-shopping-cart"></i></a></li>
                <li><a href="/users/logout">Salir <i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
            <% } else { %>
            <ul class="left-navbar" > 
                <li><a href="/products/all">Todo</a></li>            
            <li><a href="/products/decoracion">Decoracion</a></li>
            <li><a href="/products/usopersonal">Uso personal</a></li> 
            <li><a href="/products/viajes">Viajes</a></li>
            <li><a href="/products/muebles">Muebles</a></li>
        </ul>
        <ul class="right-navbar">
            <li><a href="/users/register">Registrate <i class="fas fa-id-card"></i></a></li>
            <li><a href="/users/login">Mi cuenta <i class="fas fa-user"></i></a></li>
            <li><a href="/users/login">Favoritos <i class="fas fa-heart"></i></a></li>
            <li><a href="/users/login">Carrito <i class="fas fa-shopping-cart"></i></a></li>
        </ul>
        <% } %>
    </nav>
    </div>    
    <div class="burger-menu ">
        <i class="fa fa-bars burger"   onmouseover="showBurguer(this)" onclick="closeBurguer()"></i>
        <div  class="burguer-menu-responsive" id="burguer-menu-show">
            <% if (locals.isLogged && locals.userLogged.rol == "admin") { %>
            <ul class="listado">
                <li><a href="/users/userprofile"><%= locals.userLogged.first_name %> <img src="/img/avatars/<%= locals.userLogged.avatar %>" width="40" style="border-radius: 100%;"class="img-avatar"> </li></a>
                <li><a href="/products/all">Todo</a></li>          
                <li><a href="/products/decoracion">Decoracion</a></li>
                <li><a href="/products/usopersonal">Uso personal</a></li> 
                <li><a href="/products/viajes">Viajes</a></li>
                <li><a href="/products/muebles">Muebles</a></li>
                <li><a href="/products/createproduct">Crear producto nuevo</a></li>
                <li><a href="/products/inventory">Todos los productos</a></li>
                <li><a href="/products/favoritos">Favoritos </a></li>
                <li><a href="/products/cart">Carrito </i></a></li>
                <li><a href="/users/logout">Salir </i></a></li>
            </ul>
            <% } else if (locals.isLogged){ %>
                <ul class="listado">   
                    <li><a href="/users/userprofile"><%= locals.userLogged.first_name %></a> <img src="/img/avatars/<%= locals.userLogged.avatar %>" width="40" style="border-radius: 100%;"class="img-avatar"> </li>
                    <li><a href="/products/all">Todo</a></li>       
                    <li><a href="/products/decoracion">Decoracion</a></li>
                    <li><a href="/products/usopersonal">Uso personal</a></li> 
                    <li><a href="/products/viajes">Viajes</a></li>
                    <li><a href="/products/muebles">Muebles</a></li>
                    <li><a href="/products/favoritos">Favoritos </i></a></li>
                    <li><a href="/products/cart">Carrito </i></a></li>
                    <li><a href="/users/logout">Salir </i></a></li>
                </ul>
                <% } else { %>
                <ul class="listado"> 
                <li><a href="/products/all">Todo</a></li>            
                <li><a href="/products/decoracion">Decoracion</a></li>
                <li><a href="/products/usopersonal">Uso personal</a></li> 
                <li><a href="/products/viajes">Viajes</a></li>
                <li><a href="/products/muebles">Muebles</a></li>
                <li><a href="/users/register">Registrate </i></a></li>
                <li><a href="/users/login">Mi cuenta </i></a></li>
                <li><a href="/users/login">Favoritos </i></a></li>
                <li><a href="/users/login">Carrito </i></a></li>
            </ul>
            <% } %>
        </div>
    </div> 

    <script>
        function showBurguer(x){
            document.getElementById("burguer-menu-show").style.display = "block";
        }
        function closeBurguer(x){
             document.getElementById("burguer-menu-show").style.display = "none";
        }

    </script>
    
    </header>