<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %> 
    <body>
        <%- include('../partials/header') %>
    
    
            <main>
                <% if (locals.errors) { %>
                    <% for( let oneError in errors) { %>
                        <p>
                            <%= errors[oneError].msg %>
                        </p>
    
                        <% } %>
    
                            <% } %>
                                <div class="crea">CREA TU CUENTA</div>
                                <p class="login">Ya tenes cuenta? ¡Ingresa <a class="register-here"
                                        href="/users/login">aquí</a>!</p>
    
                                <form action="/users/register" method="POST" id="formulario-register" class="register"
                                    enctype="multipart/form-data">
    
                                    <div class="form-control" id="grupo_name">
                                        <label for="nombre" class="formulario_label">Nombre</label>
                                        <div class="formulario_grupo_input">
                                            <input type="text" name="name" id="nombre" class="formulario_input"
                                                value="<%= locals.oldData ? oldData.name : null %>">
                                            <i class="formulario_validacion_estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario_input_error">El nombre debe tener minimo 2 caracteres</p>
                                        <samp style="color:#b60b0b" id="name"></samp>
                                        <% if (locals.errors && errors.name ) { %>
                                            <div class="text-danger">
                                                <p>
                                                    <%= errors.name.msg %>
                                                </p>
                                            </div>
                                            <% } %>
                                    </div>
                                    </div>
                                    <div class="form-control position-1 " id="grupo_lastname">
                                        <label for="lastname" class="formulario_label">Apellido</label>
                                        <div class="formulario_grupo_input">
                                            <input type="text" name="lastname" id="apellido" class="formulario_input"
                                                value="<%= locals.oldData ? oldData.lastname : null %>">
                                            <i class="formulario_validacion_estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario_input_error">El nombre debe tener minimo 2 caracteres</p>
                                        <samp style="color:#b60b0b" id="lastname"></samp>
    
                                        <% if (locals.errors && errors.lastname ) { %>
                                            <div class="text-danger">
                                                <p>
                                                    <%= errors.lastname.msg %>
                                                </p>
                                            </div>
                                            <% } %>
                                    </div>
    
                                    <div class="form-control position-1" id="grupo_email">
                                        <label for="correo" class="formulario_label">Email</label>
                                        <div class="formulario_grupo_input">
                                            <input type="email" name="email" id="correo" class="formulario_input"
                                                value="<%= locals.oldData ? oldData.email : null %>">
                                            <i class="formulario_validacion_estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario_input_error">Debe ser un formato de mail valido</p>
                                        <samp style="color:#b60b0b" id="email"></samp>
                                        <% if (locals.errors && errors.email ) { %>
                                            <div class="text-danger">
                                                <p>
                                                    <%= errors.email.msg %>
                                                </p>
                                            </div>
                                            <% } %>
                                    </div>
    
                                    <div class="form-control">
                                        <label for="">Fecha de nacimiento</label>
                                        <input type="date" name="dob">
                                    </div>
    
                                    <div class="form-control" id="avatar">
                                        <label for="image">Imagen de perfil</label>
                                        <input type="file" id="fotoperfil" name="avatar" accept=".png, .jpg, .jpeg">
                                        <samp style="color:#b60b0b" id="avatar"></samp>
                                        <% if (locals.errors && errors.avatar ) { %>
                                            <div class="text-danger">
                                                <p>
                                                    <%= errors.avatar.msg %>
                                                </p>
                                            </div>
                                            <% } %>
                                    </div>
    
                                    <div class="form-control position-2" id="grupo_password">
                                        <label for="" class="formulario_label">Contraseña</label>
                                        <div class="formulario_grupo_input">
                                            <input type="password" name="password" id="password" class="formulario_input"
                                                placeholder="Debe contener 8 caracteres alfanumericos">
                                            <i class="formulario_validacion_estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario_input_error">Debe contener 8 caracteres alfanumericos</p>
                                        <span class="fas fa-eye-slash" id="ojito"></span>
                                        <samp style="color:#b60b0b" id="repassword"></samp>
                                        <% if (locals.errors && errors.password ) { %>
                                            <div class="text-danger">
                                                <p>
                                                    <%= errors.password.msg %>
                                                </p>
                                            </div>
                                            <% } %>
                                    </div>
    
                                    <div class="form-control position-2" id="grupo_password2">
                                        <label for="" class="formulario_label">Repetir Contraseña</label>
                                        <div class="formulario_grupo_input"> 
                                        <input type="password" name="repassword" id="password2" class="formulario_input">
                                        <i class="formulario_validacion_estado repass fas fa-times-circle"></i>
                                        <p class="formulario_input_error">Ambas contraseñas deben ser iguales.</p>
                                    </div>
                                    </div>
    
                                    <div class="buttons">
                                        <a href="#"><button type="submit" class="enviar">Registrate</button></a>
    
                                </form>
            </main>
    
    
            <%- include('../partials/footer') %>
    
                <script src="/js/NewRegisterValidations.js"></script>
    </body>
    </html>